@page "/UserLogin"
@inject Auth.IAuthService authService
@inject NavigationManager navMgr

<h3>Login</h3>

<AuthorizeView>
    <NotAuthorized>
<div class="container">
  <label><b>Username</b></label>
  <input type="text" @bind="userName" placeholder="Enter Username" required>

  <label><b>Password</b></label>
  <input type="password" @bind="password" placeholder="Choose a Password">

  <button @onclick="SubmitLogin" class="acceptbtn">Log In</button>
  
  <a href="RegisterClientPage">Click here to register</a>
  
  <span style="color: red">@errorMessage</span>
</div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private String userName = "";
    private String password = "";
    string errorMessage = "";

    public async Task SubmitLogin()
    {
        errorMessage = "";

        try
        {
            await authService.LoginAsync(userName, password);
            navMgr.NavigateTo("/PostsPage");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorMessage = e.Message;
        }
    }
}


<style>
form {
  border: 3px solid #f1f1f1;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}
</style>